[Desktop Entry]
Version=1.0
Name=口罩识别
Comment=This is my comment
Exec=/home/zealgiant/SocailDistance/GDXM.sh
Icon=/home/zealgiant/SocailDistance/images/zgtapp.ico
Terminal=false
Type=Application
Categories=Application;




